<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page menu</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu">

         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="skeleton" href="/" data-th-href="@{/}">
                  <img alt="skeleton" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">skeleton</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav" id="entitiesMenuEntries">
                <li class="dropdown" id="categoriarecurso-entry" data-z="273a5583">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_categoriarecurso})}">CategoriaRecurso<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/categoriarecursoes/create-form" data-th-href="@{/categoriarecursoes/create-form}" data-th-utext="#{label_create_entity(#{label_categoriarecurso})}">Create CategoriaRecurso</a></li>
	                  <li><a href="/categoriarecursoes" data-th-href="@{/categoriarecursoes}" data-th-utext="#{label_list_entity(#{label_categoriarecurso_plural})}">List CategoriaRecurso</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="modulo-entry" data-z="4f1519e3">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_modulo})}">Modulo<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/moduloes/create-form" data-th-href="@{/moduloes/create-form}" data-th-utext="#{label_create_entity(#{label_modulo})}">Create Modulo</a></li>
	                  <li><a href="/moduloes" data-th-href="@{/moduloes}" data-th-utext="#{label_list_entity(#{label_modulo_plural})}">List Modulo</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="perfil-entry" data-z="6e35b928">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_perfil})}">Perfil<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/perfils/create-form" data-th-href="@{/perfils/create-form}" data-th-utext="#{label_create_entity(#{label_perfil})}">Create Perfil</a></li>
	                  <li><a href="/perfils" data-th-href="@{/perfils}" data-th-utext="#{label_list_entity(#{label_perfil_plural})}">List Perfil</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="permissao-entry" data-z="ea064c16">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_permissao})}">Permissao<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/permissaos/create-form" data-th-href="@{/permissaos/create-form}" data-th-utext="#{label_create_entity(#{label_permissao})}">Create Permissao</a></li>
	                  <li><a href="/permissaos" data-th-href="@{/permissaos}" data-th-utext="#{label_list_entity(#{label_permissao_plural})}">List Permissao</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="recurso-entry" data-z="39c99a87">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_recurso})}">Recurso<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/recursoes/create-form" data-th-href="@{/recursoes/create-form}" data-th-utext="#{label_create_entity(#{label_recurso})}">Create Recurso</a></li>
	                  <li><a href="/recursoes" data-th-href="@{/recursoes}" data-th-utext="#{label_list_entity(#{label_recurso_plural})}">List Recurso</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="usuario-entry" data-z="3bfe2dd6">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_usuario})}">Usuario<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/usuarios/create-form" data-th-href="@{/usuarios/create-form}" data-th-utext="#{label_create_entity(#{label_usuario})}">Create Usuario</a></li>
	                  <li><a href="/usuarios" data-th-href="@{/usuarios}" data-th-utext="#{label_list_entity(#{label_usuario_plural})}">List Usuario</a></li>
                 </ul>
                </li>
              </ul>

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>



              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links" data-th-replace="~{fragments/session-links :: links}">
                <!-- Content replaced by the links template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>
           </div>

          </div>
    </nav>

    <!--
    Only the internal content of the following div is included within
    the template, in menu-languages fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu-languages">

         <div class="container">

            <div class="navbar-header">

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="skeleton" href="/" data-th-href="@{/}">
                  <img alt="skeleton" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">skeleton</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

           </div>

          </div>
    </nav>

  </body>
</html>
